* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.tela1{
    width: 100%;
    height: 600px;
    
}

.tela1 h1{
    color: white;
    text-align: center;
    padding-top: 220px;
}

.tela1 h2{
    color: white;
    text-align: center;
    padding-top: 20px;
}

.social-media{
  display:flex;
  justify-content: center;
  margin-top: 20px;
}

.Sobremim {
  margin-top: 10px;
  text-align: center;
  color:#fff;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 80px;
  height: 300px;
  
}

.Sobremim h3{
  margin-top: 20px;
}

.Minhahistoria{
  width: 100%;
  height: 400px;
  margin-top: 10px;
  text-align: center;

}

.Minhahistoria h1{
  color: white;
  padding-top: 80px;
  padding-bottom: 20px;
  
}

.Minhahistoria h3{
  color: white;
  padding-left: 60px;
  padding-right: 60px;
}

.Habilidades {
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;

}

.projetos-h1{
  color: white;
  text-align: center;
  padding-top: 20px;
}
.projetos{
  width: 100%;
  height: 600px;
  padding-left: -3%;
  padding-right: -3%;
  margin-top: 10px;
  justify-content:center;
  display: flex;
}

.projetos h1{
  color: white;
  padding-top: 20px;

}

.Lunna {
  
  max-width: 250px;
  
  max-height: 500px;
  border-radius: 20px;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
  margin-right: 6%;
}

.Lunna2 {
  
  max-width: 250px;
  
  max-height: 500px;
  border-radius: 20px;
  margin-top: 20px;
  align-items: center;
  justify-content: center;}

  .Lunna2 img{
  width: 90%;
  height: 60%;
  margin-top: 2%;
  margin-left: 3%;
  margin-right: 3%;
}

.Lunna2 h2{
  color:#fff;
  align-items: center;
  justify-content: center;
  display: flex;
}

.Lunna2 h4{
  color: white;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
  padding-right:10px;

}

.Lunna img{
  width: 90%;
  height: 60%;
  margin-top: 2%;
  margin-left: 3%;
  margin-right: 3%;
}

.Lunna h2{
  color:#fff;
  align-items: center;
  justify-content: center;
  display: flex;
}

.Lunna h4{
  color: white;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
  padding-right:10px;

}

.Contato{
  background-color: black;
  width: 100%;
  height: 300px;
  
  
}

.Contato h1{
  color: white;
  margin-left: 1%;
  padding-top: 2%;
}

.Contato h3{
  color: white;
  margin-left: 1%;
  padding-top: 2%;
}


#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #0d1117; 
  top: 0;
  left: 0;
  z-index: -1;
}








.btn-github {
  cursor: pointer;
  display: flex;
  gap: 0.5rem;
  border: none;
  margin-right: 5px;
  

  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  border-radius: 100px;
  font-weight: 800;
  place-content: center;

  padding: 0.75rem 1rem;
  font-size: 0.825rem;
  line-height: 1rem;

  background-color: rgba(0, 0, 0, 0.4);
  box-shadow:
    inset 0 1px 0 0 rgba(255, 255, 255, 0.04),
    inset 0 0 0 1px rgba(255, 255, 255, 0.04);
  color: #fff;
}

.btn-github:hover {
  box-shadow:
    inset 0 1px 0 0 rgba(255, 255, 255, 0.08),
    inset 0 0 0 1px rgba(252, 232, 3, 0.08);
  color: #fce803;
  transform: translate(0, -0.25rem);
  background-color: rgba(0, 0, 0, 0.5);
}


.LinkedinBtn {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  position: relative;
  border-radius: 7px;
  cursor: pointer;
  transition: all 0.3s;
  margin-right: 5px;
}

.LinkedinBtn .svgContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  backdrop-filter: blur(4px);
  letter-spacing: 1px; /* Adjusted letter spacing */
  border-radius: 10px;
  transition: all 0.3s;
  border: 1px solid rgba(156, 156, 156, 0.466);
}

.LinkedinBtn .BG {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: #0077b5;
  z-index: -1;
  border-radius: 9px;
  pointer-events: none;
  transition: all 0.3s;
}

.LinkedinBtn:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Added box shadow effect */
}

.LinkedinBtn:hover .BG {
  transform: rotate(35deg);
  transform-origin: bottom;
}

.LinkedinBtn:hover .svgContainer {
  background-color: rgba(156, 156, 156, 0.466);
}


.card {
  width: 330px;
  height: 370px;
  padding: 20px;

  color: white;
  background: linear-gradient(#212121, #212121) padding-box,
    linear-gradient(145deg, transparent 35%, #0a89a8, #252e31) border-box;
  border: 2px solid transparent;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transform-origin: top bottom;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.card .main-content {
  flex: 1;
}

.card .header span:first-child {
  font-weight: 600;
  color: #717171;
  margin-right: 4px;
}

.card .heading {
  font-size: 24px;
  margin: 24px 0 16px;
  font-weight: 600;
}

.card .categories {
  display: flex;
  gap: 10px;
}

.card .categories span {
  background-color: #0a89a8;
  padding: 4px 8px;
  font-weight: 600;
  margin-bottom: 5px;
  text-transform: uppercase;
  font-size: 12px;
  border-radius: 50em;
}

.card .footer {
  font-weight: 600;
  color: #717171;
  margin-right: 4px;
}

.card:hover {
  rotate: -6deg;
}


.Btn {
  border: none;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: .4s;
  cursor: pointer;
  position: relative;
  background-color: rgb(31, 31, 31);
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4%;
}

.svgIcon {
  transition-duration: .3s;
}

.svgIcon path {
  fill: white;
}

.text {
  position: absolute;
  color: rgb(255, 255, 255);
  width: 120px;
  font-weight: 600;
  opacity: 0;
  transition-duration: .4s;
}

.Btn:hover {
  width: 110px;
  transition-duration: .4s;
  border-radius: 30px;
}

.Btn:hover .text {
  opacity: 1;
  transition-duration: .4s;
}

.Btn:hover .svgIcon {
  opacity: 0;
  transition-duration: .3s;
}